{% extends 'layout/authenticated/admin/base.html.twig' %}
{% block content %}
    <div class="ml-14 mt-24 md:ml-64 px-4 sm:px-6 lg:px-8">
        <div class="sm:flex sm:items-center">
            <div class="sm:flex-auto">
                <h1 class="text-base font-semibold leading-6">Planning de {{ doctor.firstname }} {{ doctor.lastname }}</h1>
                <p class="mt-2 text-sm text-gray-700">Une liste de tous vos rendez-vous.</p>
            </div>
        </div>
        <div class="mt-8 flow-root">
            <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                    <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
                        <div id="calendar" data-doctor-id="{{ doctor.id }}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

